@import "tailwindcss";

@font-face {
  font-family: "Lombok";
  src: local("Lombok"),
       url("../assets/fonts/Lombok.ttf") format("truetype");
  font-weight: contours;
}

@font-face {
  font-family: "Space Grotesk Light";
  src: local("SpaceGroteskl"),
       url("../assets/fonts/SpaceGroteskl.ttf") format("truetype");
  font-weight: contours;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("SpaceGrotesk"),
       url("../assets/fonts/SpaceGrotesk.ttf") format("truetype");
  font-weight: contours;
}

@font-face {
  font-family: "Space Grotesk Medium";
  src: local("SpaceGroteskm"),
       url("../assets/fonts/SpaceGroteskm.ttf") format("truetype");
  font-weight: contours;
}

@font-face {
  font-family: "Space Grotesk SemiBold";
  src: local("SpaceGrotesksb"),
       url("../assets/fonts/SpaceGrotesksb.ttf") format("truetype");
  font-weight: contours;
}

@font-face {
  font-family: "Space Gotesck bold";
  src: local("SpaceGroteskb"),
       url("../assets/fonts/SpaceGroteskb.ttf") format("truetype");
  font-weight: contours;
}

@layer utilities {
  .ql-container {
    @apply bg-white rounded-md w-[100%]  min-h-[150px] ;
  }

  .ql-editor {
    @apply p-4 text-base w-[100%] rounded-t-md;
  }
}




/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
h1 {
  font-family: 'Lombok';
}

h3 {
  font-family: 'Lombok'
}

label {
  font-family: "Space Grotesk SemiBold"
}

