.my-editor {
  width: 500px;           /* largeur fixe */
  max-width: 500px;       /* empêche l'agrandissement */
  background: #3b566fff;
}
/* couleur des icones (traits) */
.my-editor .ql-toolbar .ql-stroke {
  stroke: white !important;
}

.my-editor .ql-toolbar .ql-fill {
  fill: white !important;
}

/* couleur du texte dans dropdowns par ex. */
.my-editor .ql-toolbar .ql-picker {
  color: white !important;
}

/* Conteneur Quill */
.ql-editor .ql-reply-quote {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 0; /* padding déplacé dans reply-quote-box */
  box-sizing: border-box;
}

/* Rectangle complet avec fond et padding */
.ql-editor .ql-reply-quote  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1f2937;          /* fond gris foncé */
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
}

.reply-quote-box {
    border: 3px solid #4b5563;    /* bordure grise autour */
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start ;
}
/* Auteur */
.ql-editor .ql-reply-quote .reply-quote-author {
  color: #d1d5db;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 8px 8px 0 8px;

}

.ql-editor .ql-reply-quote .reply-quote-author .light {
  color: #9ca3af;
  font-weight: 400;
}

/* Flex row pour ligne + texte */
.ql-editor .ql-reply-quote .reply-quote-body-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* la ligne prend toute la hauteur du texte */
}

/* Ligne verticale continue */
.ql-editor .ql-reply-quote .reply-quote-line {
  width: 2px;
  background-color: #6b7280;
  border-radius: 2px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px
}

/* Texte */
.ql-editor .ql-reply-quote .reply-quote-body {
  flex: 1;
  color: #e5e7eb;
  font-size: 0.7rem;
  line-height: 1.75;
  margin: 0 8px 8px 0;

}

/* Supprime marges internes pour éviter les trous */
.ql-editor .ql-reply-quote p,
.ql-editor .ql-reply-quote div {
  margin: 0;
  padding: 0;
}
