.scrollable-quotes::-webkit-scrollbar {
  height: 8px; /* hauteur de la scrollbar horizontale */
}

.scrollable-quotes::-webkit-scrollbar-track {
  background: #1f2937; /* bg-gray-800 */
  border-radius: 4px;
}

.scrollable-quotes::-webkit-scrollbar-thumb {
  background: #f3f4f6
; /* gray-200 */
}

.scrollable-quotes::-webkit-scrollbar-thumb:hover {
  background: #d1d5db; /* un gris un peu plus foncé au hover */
}
